# Configuración del Servidor
PORT=3000
NODE_ENV=development

# Seguridad y Sesiones
SESSION_SECRET=passport_session_super_secret_key_123
JWT_SECRET=jwt_super_secret_key_passport_inc_456

# Administrador por defecto (Credenciales para pruebas)
DEFAULT_ADMIN_EMAIL=admin@passport.inc
DEFAULT_ADMIN_PASSWORD=adminpassword
