# Dependencias
node_modules/
jspm_packages/

# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Base de datos local (SQLite)
database.sqlite
database.sqlite-journal

# Variables de entorno
.env
.env.local
.env.development.local
.env.test.local
.env.production.local

# IDEs y Editores
.vscode/
.idea/
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# OS específicos
.DS_Store
Thumbs.db
